build/*
*/build/*
HomeApp/**/.classpath
KeyBoardApp/**/.classpath
contacts/**/.classpath
.gradle/**
# Vim swap / temp files
*.swp
*.swo
*.swn
*.swm
*~

# Ignore keystore and signing properties
keystore.properties
*.keystore


